# Doxyfile 1.14.0

#---------------------------------------------------------------------------
# Project related configuration options
#---------------------------------------------------------------------------
PROJECT_NAME           = "Typee-Language"
PROJECT_NUMBER         = "0.1"
PROJECT_BRIEF          = "A new generic object-oriented programming language."
OUTPUT_DIRECTORY       = 

ABBREVIATE_BRIEF       = "The $name class" \
                         "The $name widget" \
                         "The $name file" \
                         is \
                         provides \
                         specifies \
                         contains \
                         represents \
                         a \
                         an \
                         the

ALWAYS_DETAILED_SEC    = YES
FULL_PATH_NAMES        = NO
BUILTIN_STL_SUPPORT    = YES
TIMESTAMP              = DATE  ##YES ##NO ##DATETIME ##

#---------------------------------------------------------------------------
# Build related configuration options
#---------------------------------------------------------------------------
HIDE_UNDOC_NAMESPACES  = NO
SORT_BRIEF_DOCS        = YES
WARN_NO_PARAMDOC       = NO

#---------------------------------------------------------------------------
# Configuration options related to the input files
#---------------------------------------------------------------------------
INPUT                  = ./
INPUT_ENCODING         = UTF-8
USE_MDFILE_AS_MAINPAGE = ../../README.md

#---------------------------------------------------------------------------
# Configuration options related to source browsing
#---------------------------------------------------------------------------
REFERENCED_BY_RELATION = YES
REFERENCES_RELATION    = YES

#---------------------------------------------------------------------------
# Configuration options related to the HTML output
#---------------------------------------------------------------------------
GENERATE_HTML          = YES
HTML_OUTPUT            = html
HTML_FILE_EXTENSION    = .html
HTML_COLORSTYLE_HUE    = 220
HTML_COLORSTYLE_SAT    = 100
HTML_COLORSTYLE_GAMMA  = 80
HTML_DYNAMIC_MENUS     = YES
HTML_DYNAMIC_SECTIONS  = NO
HTML_CODE_FOLDING      = NO  ##YES
HTML_COPY_CLIPBOARD    = YES
HTML_INDEX_NUM_ENTRIES = 100
GENERATE_TREEVIEW      = YES
FULL_SIDEBAR           = NO
TREEVIEW_WIDTH         = 250
EXT_LINKS_IN_WINDOW    = NO
SEARCHENGINE           = YES
SERVER_BASED_SEARCH    = NO
EXTERNAL_SEARCH        = NO

#---------------------------------------------------------------------------
# Configuration options related to the LaTeX output
#---------------------------------------------------------------------------
GENERATE_LATEX         = NO
